html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #4b4e51;
    background: #fff;
    margin: 0;
    font-size: 16px;
}

header {
    background: url("../Images/back.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center top;
}

#start-page {
    height: 100vh;
    width: 100vw;
    display: inline-block;
    margin: auto;
    text-align: center;
}

#start-page-text {
    font-size: 36px;
}

.margin-top {
    margin-top: 40px;
}

#logo-nav {
    width: 40px;
    height: 40px;
}

#front-logo {
    margin-top: 3%;
    width: 25%;
    height: auto;
}

h2 {
    padding-top: 50px;
    font-size: 36px;
    text-align: center;
}

#name {
    font-family: 'Libre Barcode 128 Text', cursive;
    background: white;
    color: #1f1e1f;
    height: auto;
    padding: 0.5%;
    margin: auto;
    font-size: 28px;
}

.padding-top {
    padding-top: 50%;
}

.margin-lines {
    margin-top: 18px;
}

.name-media {
    display: none;
}

.bold {
    font-weight: bolder;
}

.menu-icon {
    display: none;
}

.nav {
    display: inline-block;
    justify-content: space-evenly;
    padding-top: 10px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    width: 80px;
    margin-left: 2px;
}

.quotes {
    font-family: 'Handlee', cursive;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
}

#navbar {
    z-index: 1;
    width: 100%;
    height: 55px;
    background: #1f1e1f;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: #858185;
}

a:hover {
    color: #d1d1d1;
}

.active {
    color: #4b4e51;
    font-style: bold;
}

.right {
    float: right;
    padding-right: 50px;
}

#profileImg {
    width: 65%;
    height: auto;
}

.right {
    text-align: right;
}

#laptop {
    width: 400px;
    height: 200px;
}

.paragraph {
    padding: 20px;
    line-height: 25px;
    letter-spacing: 0.2px;
}

.img-icons {
    width: 200px;
    height: 220px;
}

.center {
    text-align: center;
}

.text {
    margin-top: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 89%;
    transition: .5s ease;
    opacity: 0;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

#resume:hover .overlay {
    opacity: 1;
}

.works:hover .overlay2 {
    opacity: 1;
    z-index: 1;
}

.overlay2 {
    position: absolute;
    bottom: 0;
    background: rgb(255, 254, 254);
    background: rgba(255, 255, 255, 0.5);
    color: #1f1e1f;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    padding: 10px;
    text-align: center;
}

#grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.projects {
    font-weight: bold;
}

.projectImages {
    width: 80%;
    height: 80%;
}

main {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.socialMedia {
    width: 25px;
    height: 25px;
}

footer {
    /* background: url("../Images/back.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center bottom; */
    height: 50px;
    display: flex;
    justify-content: center;
}

.go-up {
    margin: auto;
    width: 40px;
    height: 40px;
}

#go-down {
    margin-top: 40px;
}

.auto-margin {
    margin: auto;
}

#submitButton {
    width: 80px;
    border-radius: 4px;
}

input, textarea {
    width: 450px;
    padding: 5px;
    background: #1f1e1f;
    color: #d1d1d1;
}

.description {
    font-size: 12px;
}

.contact {
    color: #4b4e51;
}

textarea {
    height: 180px;
    color: #d1d1d1
}

ul {
    padding-left: 3%;
}

button {
    padding: 8px 22px;
    border: 0px;
    border-radius: 4px;
    font-size: 14px;
    background: #1f1e1f;
    color: #fff;
    opacity: 1;
}

button:hover {
    opacity: 0.9;
}